#MacOS X
*.DS_Store

#Terraform
*.tfstate*
*.terraform
*.tfvars
credentials.json

#Ansible
*/vendor/*
*/tmp/*
*.retry
ostack/ansible/vendor/roles/mongrelion.docker/

#Molecule
.molecule
__pycache__

*.log
